*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}

.img{
    background-image: url(/assets/images/banner-bk.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.texto{
    position: absolute;
    top: 55%;
    left: 25%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    color: white;
}

header{
    padding: 5%;
}

.lo{
    color: white;
    display: flex;
    font-size: 120%;
    padding: 5%;
    padding-top: 10%;  
}

button{
    color: black;
    width: 170px;
    height: 40px;
    background-color: aqua;
    border-radius: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    font-size: 20px;
    font-weight: 700;
}

.img4{
    width: 200px;
}

section .logo h4 {
    width: 70%;  
}

section{
    padding-top: 15%;
    display: flex;
    height: 30%;
}

.titulo{
    padding-top: 10%;
    font-size: 30px;
    display: flex;
    position: absolute;
    top: 100%;
    left: 35% 
}

.logo{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin: 10px;
}

h4{
    color: rgb(54, 54, 54);
}

.c2{
    font-size: 50px;
    padding: 6%;
    margin-bottom:-10%;
}

p{
    padding: 6%;
    color: rgb(54, 54, 54);
}

.gradiente {
    background: linear-gradient(168deg, white 60%, #1df1b2 0);
}

.button{
    color: rgb(255, 249, 249);
    width: 170px;
    height: 40px;
    background-color: rgba(1, 20, 29, 0.836);
    border-radius: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    font-size: 20px;
    font-weight: 700;
}

.container{
    display: flex;
    justify-content: flex-end;
    transform: translate(-10%,-90%);
}

.c3{
    font-size: 50px;
    justify-content: flex-end;
    display: flex;
    transform: translate(-10%,-900%);
}

.button1{
    color: rgb(255, 249, 249);
    width: 170px;
    height: 40px;
    background-color:rgb(18, 27, 70);
    border-radius: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    font-size: 20px;
    font-weight: 700;
    justify-content: flex-end;
    transform: translate(390%,-1500%);
}

.container1{
    transform: translate(0%,-50%);  
}

.p{
    transform: translate(45%,-300%);
}

.check{
    padding-top: 140%;
    font-size: 40px;
    display: flex;
    position: absolute;
    top: 100%;
    left: 38% ;
}

.cuadros{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.head{
    height: 60vh;
    width: 73%; 
}

.head1{
    height: 60vh;
    width: 60%; 
    color: white;
}

.box{
    background-color: white;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.box1{
    
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container2{
    width: 100%;
    height: 100vh;
    padding-left: 6%; 
    margin-bottom:30%;
}

.e{
    color: rgb(0, 0, 0);
    width: 170px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid rgb(18, 27, 70);
}

.i{
    color:rgb(18, 27, 70);
    width: 170px;
    height: 40px;
    background-color: aqua;
    border-radius: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    font-size: 20px;
    font-weight: 700;
}

.articulo{
    width: 100%;
    background-color: rgb(18, 27, 70);
    margin-bottom:42%;
}

.n{
    color: white;
}

.s{
    margin: 5%;
    padding: 5%;
  }

.imagenes1{
    padding-top: 3%;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: rgb(201, 200, 200);
    margin-top: -25%;
  }

  .img7{
    background-image: url(/assets/images/contact-bk.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding-top: 5%;
}

.texto9{
    position: absolute;
    transform: translate(25%,250%);
    font-size: 50px;
    color: white;
}

.li{
    color: white;
    display: flex;
    font-size: 100%;
    padding: 5%;
    padding-top: 18%;  
}

.le{
    color: white;
    display: flex;
    font-size: 100%;
    padding: 5%;
    padding-top: 18%;  
    margin-top: -20%;
}

.formulario {
    margin-top: 33px;
    margin-bottom: 12px;
    
    
}

.form {
    width: 50%;
    padding: 1%;
    border-radius: 4%;
    margin-bottom: 56%;
    display: flex;
    justify-content: center;
    transform: translate(200%,-50%);
}

.sugerencias{
    width: 100%;
    padding: 12px 0;
    border-radius: 4px;
    margin-bottom: 16px;
}

.formulario1{
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    margin-bottom: 12px;
    transform: translate(-10%,-40%);
}
.nombre{
    transform: translate(1200%,-15%);
}
.boton{
    color: rgb(18, 27, 70);
    width: 270px;
    height: 40px;
    background-color:aqua;
    border-radius: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    font-size: 20px;
    font-weight: 700;
    justify-content: flex-end;
    
}

label{
    color:aqua;
}

.footern{
    height: 100px;
    width: 100%;
    background-color: rgb(18, 27, 70);
    color: white;  
    transform: translate(0%,-800%);
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.img0 footer{
    width: 10%;
    padding: 10%;
    height: 3%;
  }
  
